@model IEnumerable<Room>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ListRoom</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">
        @*<form class="form-inline my-2 my-lg-0" method="get" asp-action="roomSearch">
            <input class="form-control mr-sm-3 col-9" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Търсене</button>
        </form>*@
        <form method="post">
            <a asp-action="showVacant" class="btn btn-outline-primary my-2 my-sm-0 ml-3">Покажи свободни</a>
            <a asp-action="ListRoom" class="btn btn-outline-primary my-2 my-sm-0 ml-3">Покажи всички</a>
            @if (@User.IsInRole("Admin"))
            {
                <a asp-action="AddRoom" class="btn btn-outline-primary my-2 my-sm-0 ml-3">Добавяне</a>
            }
        </form>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Стая № </th>
                    <th scope="col">Капацитет</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Свободна/Заета</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <th scope="col"></th>
                        <td>@room.RoomNumber</td>
                        <td>@room.Capacity</td>
                        <td>
                            @foreach (var type in @Html.GetEnumSelectList<RoomType>())
                            {
                                if(type.Value == room.RoomType)
                                {
                                    <p>@type.Text</p>
                                }
                            }
                        </td>
                        <td>
                            @if (room.Vacant)
                            {
                                <p>Свободна</p>;
                            }
                            else
                            {
                                <p> Заета </p>;
                            }
                        </td>
                        <td>
                            <a asp-action="EditRoom" asp-route-id="@room.RoomId" class="btn btn-primary">Редактирай</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
