@model IEnumerable<Reservation>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ListReservation</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <a asp-action="AddReservation" class="btn btn-outline-primary my-2 my-sm-0 ">Добавяне</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Резервирана стая </th>
                    <th scope="col">Клиенти</th>
                    <th scope="col">Дата на настаняване</th>
                    <th scope="col">Дата на напускане</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@reservation.Room</td>
                        <td>@reservation.Guests</td>
                        <td>@reservation.ReservationDate</td>
                        <td>@reservation.LeavingDate</td>
                        <td>
                            <a asp-action="EditReservationRoom" asp-route-id="@reservation.reservationId" type="button" class="btn btn-link">Редактирай</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
