@using HotelManager.Areas.Identity.Data
@model IEnumerable<AuthUser>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ListUsers</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-3 col-9" type="search" placeholder="Search" aria-label="Search">

            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Търсене</button>
            <button asp-controller="Administration" asp-action="AddUser" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Добавяне</button>

        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Потребителско име</th>
                    <th scope="col">Собствено име</th>
                    <th scope="col">Бащино име</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имейл</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.SecondName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-area="" asp-controller="Administration" asp-action="EditUser" class="btn btn-primary" asp-route-id="@user.Id">Редактирай</a>
                        </td>
                        <td>
                            <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                                <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                    <span>Сигурни ли стe?<br /></span>
                                    <button type="submit" class="btn btn-danger">Да</button>
                                    <a href="#" class="btn btn-primary"
                                       onclick="confirmDelete('@user.Id', false)">Не</a>
                                </span>
                                <span id="deleteSpan_@user.Id">
                                    <a href="#" class="btn btn-danger"
                                       onclick="confirmDelete('@user.Id', true)">Изтрии</a>
                                </span>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
@section Scripts {
    <script src="~/js/confirmDelete.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
}

